pmdb_api_key=Required_if_using_locally_with_user.py
trakt_client=Required
trakt_secret=Required
trakt_redirect_uri=Required_if_callback_is_not_domain/trakt/callback
domain=Required_if_using_as_a_webserver_with_webserver.py